// Typography styles

body {
  font-family: $font-sans;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 600;
  color: $text-primary;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  border-bottom: 1px solid $border-default;
  padding-bottom: 0.3em;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
  color: $text-secondary;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
  color: $text-primary;
}

em {
  font-style: italic;
}

small {
  font-size: 0.875em;
  color: $text-secondary;
}

// Lists
ul, ol {
  padding-left: 1.5em;
  margin-bottom: 1em;

  li {
    margin-bottom: 0.25em;
  }
}

// Blockquotes
blockquote {
  border-left: 4px solid $accent;
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: $bg-secondary;
  color: $text-secondary;

  p {
    margin: 0;
  }
}

// Horizontal rules
hr {
  border: none;
  border-top: 1px solid $border-default;
  margin: 2em 0;
}
